body,html{
    font-family: Poppins;
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebe9e9;
    
   
    
}
h1{
    padding: 20px;
}
.login{
    
    text-align: center;
    display: block;
    width: 400px;
    box-shadow: -4px 5px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}
.login input[type = "text"]{
    padding-left: 12px;
    color: rgb(0, 0, 0);
    
}
.login input[type = "password"]{
    
    color: rgb(0, 0, 0);
    font-size: 2em;

    
    
}

.login input::placeholder{
    color: #4b4949;
    
}
input{
    margin-left: 10px;
    margin-bottom: 20px;
    height: 50px;
    width: 250px;
    font-size: 1.5em;
    border-bottom: 2px solid grey; ;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: white;
    outline: none;
    
    
}
#submit{
    background-color: rgb(203, 25, 203);
    border: none;
    height: 50px;
    width: 265px;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 50px;
    margin-bottom: 60px;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(215, 105, 210);
}
