body{
    font-family: Poppins;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(238, 236, 236);
}
.pf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 12px black;
}