body,html{
    font-family: Poppins;
    min-height: 100vh;
    margin: 0;
    
    
}
nav{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    
    font-size: 20px;
    box-shadow: 2px grey;
   
    box-shadow: 0 4px 12px rgb(92, 90, 90);
    
    
}
nav a{
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration: none;
    padding: 0 30px;
    color: black;
    
    
    
}
nav a:hover{
    background-color: hsl(0, 7%, 80%);
    
}

.Menu{
    margin-right: auto;
    
}
.Menu:hover{
    cursor: pointer;
    background-color: hsl(0, 7%, 80%);
}
.main{
    background-image: url(assets/Newback.jpg);
    background-size: cover;
    background-attachment: fixed;
}