body{
    font-family: Poppins;
    min-height: 100vh;
    margin: 0;
    background-image: url(assets/background.png);
    background-size: cover;
    background-attachment: fixed;
    
}
nav{
    display: flex;
    
    justify-content: flex-end;
    align-items: center;
    
    font-size: 20px;
    box-shadow: 2px grey;
    background-color: white;
    box-shadow: 0 4px 12px rgb(92, 90, 90);
    
    
}
nav a{
    display: flex;
    height: 50px;
    align-items: center;
    text-decoration: none;
    padding: 0 30px;
    color: black;
    
    
    
}
nav a:hover{
    background-color: hsl(0, 7%, 80%);
    
}

.Menu{
    margin-right: auto;
    
}
.Menu:hover{
    cursor: pointer;
    background-color: hsl(0, 7%, 80%);
}
.main{
    display: flex;
    justify-content: center;
}
.About{
    display: flex;
    flex-direction: column;
    width: 1300px;
    background-color: white;
    margin-top: 30px;
    padding-left: 10px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: -4px 5px 100px rgba(0, 0, 0, 0.6);
    
    
}
.About h1{
    text-align: center;
    font-size: 2em;
    color: rgb(14, 14, 186);
}
.About p{
    width: 800px;
    
}
#textabout{
    text-align: center;
    margin-left: 250px;
    margin-bottom: 40px;
}